<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="player" class="dk.sdu.mmmi.cbse.playersystem.Player"/>
        <bean id="playerPlugin" class="dk.sdu.mmmi.cbse.playersystem.PlayerPlugin"/>
        <bean id="playerControlSystem" class="dk.sdu.mmmi.cbse.playersystem.PlayerControlSystem"/>
    
    
        <bean id="enemy" class="dk.sdu.mmmi.cbse.enemysystem.Enemy"/>
        <bean id="enemyPlugin" class="dk.sdu.mmmi.cbse.enemysystem.EnemyPlugin"/>
        <bean id="enemyControlSystem" class="dk.sdu.mmmi.cbse.enemysystem.EnemyControlSystem"/>
</beans>
